# Byte-compiled files
__pycache__/
*.pyc

# Environment folder
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Local development settings
instance/

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Flask configuration
*.pyc
instance/